In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt



%matplotlib inline
pd.set_option('display.max_columns', None)

## Load The DataSet

In [3]:
df = pd.read_csv('phones_data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1224 non-null   int64
 1   brand_name      1224 non-null   object
 2   model_name      1224 non-null   object
 3   os              1027 non-null   object
 4   popularity      1224 non-null   int64
 5   best_price      1224 non-null   float64
 6   lowest_price    964 non-null    float64
 7   highest_price   964 non-null    float64
 8   sellers_amount  1224 non-null   int64
 9   screen_size     1222 non-null   float64
 10  memory_size     1112 non-null   float64
 11  battery_size    1214 non-null   float64
 12  release_date    1224 non-null   object
dtypes: float64(6), int64(3), object(4)
memory usage: 124.4+ KB

## EDA

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,1224.0,611.500000,353.482673,0.0000,305.7500,611.5,917.25,1223.0
popularity,1224.0,612.500000,353.482673,1.0000,306.7500,612.5,918.25,1224.0
best_price,1224.0,7941.206699,8891.836260,214.0000,2599.7500,4728.0,9323.00,56082.0
lowest_price,964.0,7716.018672,8560.959059,198.0000,2399.0000,4574.0,9262.25,49999.0
highest_price,964.0,9883.410788,11514.936818,229.0000,2887.0000,5325.5,12673.75,69999.0
sellers_amount,1224.0,16.743464,20.597006,1.0000,2.0000,8.0,26.00,125.0
screen_size,1222.0,5.394378,1.476991,1.4000,5.1625,6.0,6.40,8.1
memory_size,1112.0,95.700059,111.922576,0.0032,32.0000,64.0,128.00,1000.0
battery_size,1214.0,3608.201812,1668.268774,460.0000,2900.0000,3687.0,4400.00,18800.0